
.toplevel_page_citytours .dashicons-citytours-logo {
    background: url('../../img/citytours_logo.png') no-repeat;
    background-position: 0 0;
}
.toplevel_page_citytours:hover .dashicons-citytours-logo {
    background-position: 0 -68px;
}
.toplevel_page_citytours.wp-has-current-submenu .dashicons-citytours-logo {
    background-position: 0 -34px;
}

#wp-toolbar #wp-admin-bar-citytours .ab-item .ab-icon {
    width: 20px;
    height: 20px;
    background: url('../../img/citytours_logo.png') -8px 0 no-repeat !important;
}
#wp-toolbar #wp-admin-bar-citytours:hover .ab-item .ab-icon {
    background-position: -8px -68px !important;
}